[submodule "others/wayland"]
	path = dependencies/wayland
	url = https://gitlab.freedesktop.org/wayland/wayland
[submodule "others/alsa-lib"]
	path = dependencies/alsa-lib
	url = https://github.com/alsa-project/alsa-lib
[submodule "dependencies/libsdl"]
	path = dependencies/libsdl
	url = https://github.com/dhewg/libsdl.git
[submodule "dependencies/gdbstub"]
	path = dependencies/gdbstub
	url = https://github.com/mborgerson/gdbstub.git
